DATABASE_URL=postgresql://postgres:password@localhost:5432/auditmyai
NODE_ENV="development" || "production"
GROQ_API_KEY=<YOUR_GROQ_API_KEY>
NEXT_PUBLIC_APP_URL=http://localhost:3000
RESEND_FROM=<YOUR_EMAIL_ADDRESS>
RESEND_API_KEY=<YOUR_RESEND_API_KEY>